/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "template/mixins";
@import "template/settings";
// ---------------------------------------------

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fefefe;

$main-color: #0085a1;
$text-color: #555;
$darken-main-color: #006D81;
$lighten-main-color: #00C6EB;

$mainColor: $text-color ;
$headingColor: $text-color;

$mainFontSize: 4em;
$mainFont: 'Open Sans', Helvetica, sans-serif;
$headingFont: 'Open Sans', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 500;
$linkColor: $darken-main-color;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fefefe;
	}
}


// Theme template ------------------------------
@import "template/theme";
// ---------------------------------------------

.text-left {
	text-align: left !important;
}

strong {
	text-shadow: none;
	box-shadow: none;
	border: 0;
	color: $main-color;
}

.muted {
	color: #888 !important;
}

.medium {
	font-size: 3rem !important;
}


.small {
	font-size: 2rem !important;
}

.half {
	width: 40%;
}

.title {
	padding-bottom: 4rem !important;
}

.certs img {
	border: none !important;
	box-shadow: none !important;
	width: 10%;
	height: 10%;
	text-align: center;
}

.profile-pic {
	width: 50%;
	height: auto;
}

i {
	color: $main-color;
}
