---
title: Getting AWS certified | Eric Magalhãesbundle
---
<section data-markdown class="text-left">
<textarea data-template>
# Getting AWS **certified**
Eric Magalhães
</textarea>
</section>
<section data-markdown class="text-left">
<textarea data-template>
``` python
class SomeClass(object):
    def __init__(self):
        pass
```
</textarea>
</section>
