---
title: Getting AWS certified | Eric Magalhãesbundle
---
<section data-markdown class="text-left">
<textarea data-template>
# Getting AWS **certified**
<p class="muted">AWS User Group Joinville</p>
</textarea>
</section>
<section data-markdown>
<textarea data-template>
<div class="container-fluid">
  <div class="row">
    <div class="col title text-left">
      <h1><code>$> whoami</code></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-left">
      <h2>Eric **Magalhães**</h2>
      <div class="muted small">
      <p>DevOps Evangelist @ JobScore Inc</p>
      <p><i class="fas fa-map-marker-alt theme-color"></i> Joinville - SC - Brazil</p>
      </div>
      <br>
      <div class="medium">
      <p>College degree in IT Management</p>
      <p>SysAdmin with coding skills</p>
      </div>
      <br>
      <div class="small muted">
      Cloud Specialist, AWS Certified Professional, DevOps Evangelist, Speaker, Beer Lover, Traveller, Photo Enthusiast, Frustrated Musician and Weekend Woodworker.
      </div>
    </div>
    <div class="col-6 text-center">
      <p><i class="fab fa-twitter"></i> <i class="fab fa-github"></i> <i class="fab fa-linkedin"></i> **ericovis**</p>
      <%= image_tag 'me.jpg', class: "rounded-circle profile-pic"%>
      <div class="certs text-center">
        <%= image_tag 'certs.png' %>
      </div>
    </div>
  </div>
  </div>
</div>
</textarea>
</section>
<section>
<section data-markdown>
  <textarea data-template>
  ### AWS started their **certification** program in 2013
  <div class="muted small">
    https://aws.amazon.com/about-aws/whats-new/2013/04/30/announcing-amazon-web-services-global-certification-program/
  </div>
  </textarea>
</section>
  <section data-markdown>
  <textarea data-template>
  ### By that time only the exam available was the Certified **Solutions Architect - Associate**
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### On 2014 two new exams were available:

  **AWS Certified Developer – Associate**

  **AWS Certified SysOps Administrator – Associate**
  <div class="muted small">
    https://aws.amazon.com/about-aws/whats-new/2014/01/13/new-certification-exams-available-for-developers-and-sysops-administrators/
  </div>
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### **Since 2015** is listed among the top certifications to have
  <div class="muted small">
    https://insights.dice.com/2014/09/08/6-essential-it-certifications-for-2015/
  <div class="muted small">
    https://www.cio.com/article/2891552/careers-staffing/it-certification-hot-list-2015-10-that-deliver-higher-pay.html#slide1
  </div>
  <div class="muted small">
    https://www.itcareerfinder.com/brain-food/blog/entry/top-paying-it-certifications-for-2015.html
  </div>
  </textarea>
  </section>
  <section  data-background-transition="slide" data-background="https://www.maxim.com/.image/t_share/MTM1MzA3MzQ2OTc3MDgxMzU0/peligroso-tequila-cinnamon-liqueur.gif">
  </section>
</section>
<section>
  <section data-markdown>
  <textarea data-template>
  ### Currently there are **nine** certifications
  </textarea>
  </section>
  <section data-markdown>
    <textarea data-template>
      ### Certifications are divided in **four** levels:
      Foundational, Associate, Specialty and Professional
    </textarea>
  </section>
  <section data-markdown>
    <textarea data-template>
      <%= image_tag 'aws-certs.png', class: "no-shadow" %>
      <div class="muted small">
        https://aws.amazon.com/certification/
      </div>
    </textarea>
  </section>
</section>
<section>
  <section data-markdown>
  <textarea data-template>
  ### **AWS Certified Cloud Practitioner**
  Foundational
  </textarea>
  </section>
  <section data-markdown class="text-left">
  <textarea data-template >
  ### "Is intended for individuals who have the knowledge and skills necessary to effectively demonstrate an **overall understanding** of the AWS Cloud, **independent of specific technical roles**"
  <div class="muted small">
    https://aws.amazon.com/certification/certified-cloud-practitioner/
  </div>
  </textarea>
  </section>
  <section data-markdown>
  <section data-markdown>
  <textarea data-template>
  ### There are **no mandatory pre-requisites**
  </textarea>
  </section>
  <textarea data-template>
  ### The exam costs **100 USD**
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### You have **90 minutes** to complete the exam
  </textarea>
  </section>
</section>
<section>
  <section data-markdown>
  <textarea data-template>
  ### **AWS Certified Solutions Architect**
  Associate
  </textarea>
  </section>
  <section data-markdown class="text-left">
  <textarea data-template >
  ### "This exam validates an examinee's ability to effectively demonstrate knowledge of how to **architect and deploy** secure and robust applications on AWS technologies"
  <div class="muted small">
    https://aws.amazon.com/certification/certified-solutions-architect-associate/
  </div>
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### There are **no mandatory pre-requisites**
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### The exam costs **150 USD**
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### You have **130 minutes** to complete the exam
  </textarea>
  </section>
</section>
<section>
  <section data-markdown>
  <textarea data-template>
  ### **AWS Certified Developer**
  Associate
  </textarea>
  </section>
  <section data-markdown class="text-left">
  <textarea data-template >
  ### "Validates technical expertise in **developing and maintaining** applications on the AWS platform"
  <div class="muted small">
    https://aws.amazon.com/certification/certified-developer-associate/
  </div>
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### There are **no mandatory pre-requisites**
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### The exam costs **150 USD**
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### You have **130 minutes** to complete the exam
  <div class="muted">
    2018 version
  </div>
  </textarea>
  </section>
</section>
<section>
  <section data-markdown>
  <textarea data-template>
  ### **AWS Certified SysOps Administrator**
  Associate
  </textarea>
  </section>
  <section data-markdown class="text-left">
  <textarea data-template >
  ### "I intended for individuals with one to two years of experience as a systems administrator in a **systems operations** role"
  <div class="muted small">
    https://aws.amazon.com/certification/certified-developer-associate/
  </div>
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### There are **no mandatory pre-requisites**
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### The exam costs **150 USD**
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### You have **130 minutes** to complete the exam
  </textarea>
  </section>
</section>
<section>
  <section data-markdown>
  <textarea data-template>
  ### **AWS Certified Solutions Architect**
  Professional
  </textarea>
  </section>
  <section data-markdown class="text-left">
  <textarea data-template >
  ### "Validates **advanced technical skills and experience** in designing distributed applications and systems on the AWS platform."
  <div class="muted small">
    https://aws.amazon.com/certification/certified-solutions-architect-professional/
  </div>
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### You must have the **Solutions Architect - Associate** certification to take this exam
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### The exam costs **300 USD**
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### You have **170 minutes** to complete the exam
  </textarea>
  </section>
</section>
<section>
  <section data-markdown>
  <textarea data-template>
  ### **AWS Certified DevOps Engineer**
  Professional
  </textarea>
  </section>
  <section data-markdown class="text-left">
  <textarea data-template >
  ### "Validates **technical expertise in provisioning, operating, and managing** distributed application systems on the AWS platform."
  <div class="muted small">
    https://aws.amazon.com/certification/certified-devops-engineer-professional/
  </div>
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### You must have either the **Solutions Architect - Associate** or the **SysOps Administrator - Associate** certification to take this exam
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### The exam costs **300 USD**
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### You have **170 minutes** to complete the exam
  </textarea>
  </section>
</section>
<section>
  <section data-markdown>
  <textarea data-template>
  ### **AWS Certified Big Data**
  Specialty
  </textarea>
  </section>
  <section data-markdown class="text-left">
  <textarea data-template >
  ### "Validates technical skills and experience in designing and implementing AWS services to **derive value from data**. The examination is for individuals who perform **complex Big Data analyse**"
  <div class="muted small">
  https://aws.amazon.com/certification/certified-big-data-specialty/
  </div>
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### You must have either the **Cloud Practitioner** certification or any **Associate-level** certification to take this exam
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### The exam costs **300 USD**
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### You have **170 minutes** to complete the exam
  </textarea>
  </section>
</section>
<section>
  <section data-markdown>
  <textarea data-template>
  ### **AWS Certified Advanced Networking**
  Specialty
  </textarea>
  </section>
  <section data-markdown class="text-left">
  <textarea data-template >
  ### "Validates advanced technical skills and experience in designing and implementing **AWS and hybrid IT network architectures at scale**. This examination is for individuals who perform **complex networking tasks**"
  <div class="muted small">
  https://aws.amazon.com/certification/certified-advanced-networking-specialty/
  </div>
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### You must have either the **Cloud Practitioner** certification or any **Associate-level** certification to take this exam
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### The exam costs **300 USD**
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### You have **170 minutes** to complete the exam
  </textarea>
  </section>
</section>
<section>
  <section data-markdown>
  <textarea data-template>
  ### **AWS Certified Security**
  Specialty
  </textarea>
  </section>
  <section data-markdown class="text-left">
  <textarea data-template >
  ### "Allows **experienced cloud security professionals** to demonstrate and validate their knowledge of how to secure the AWS platform"
  <div class="muted small">
  https://aws.amazon.com/certification/certified-security-specialty/
  </div>
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### You must have either the **Cloud Practitioner** certification or any **Associate-level** certification to take this exam
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### The exam costs **300 USD**
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### You have **170 minutes** to complete the exam
  </textarea>
  </section>
</section>
<section>
  <section data-markdown>
  <textarea data-template>
  ### There are **two types of question**:
  Multiple choice and multiple answer
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### AWS **dont't publishes passsing scores**
  <div class="muted">
    At least not in the exam page
  </div>
  </textarea>
  <textarea data-template>
  ### AWS **dont't publishes the number of questions**
  <div class="muted">
    At least not for all exams
  </div>
  </textarea>
  </section>
  <section data-markdown>
  <textarea data-template>
  ### All exams are valid for **two years**
  </textarea>
  </section>
</section>
<section>
  <section data-background-transition="slide" data-background="https://media1.tenor.com/images/6404a646f19b9cceafe3bf49f7fd1c29/tenor.gif">
    <h1 class="text-shadow text-white">Why should you <strong>try it</strong>?</h1>
  </section>

</section>
