---
title: Getting AWS certified | Eric Magalhães
---

<section data-background-color="#006D81" class="text-left">
  <h1>Getting AWS certified</h1>
  <p>Eric Magalhães</p>
</section>
<section data-background-color="#006D81">Slide 1 </section>
<section>
<pre><code class="python">
class SomeClass(object):
    def __init__(self):
        pass
</code></pre>

</section>
