---
title: Getting AWS certified | Eric Magalhãesbundle
---
<section data-markdown class="text-left">
<textarea data-template>
# Getting AWS **certified**
Eric Magalhães
</textarea>
</section>
<section data-markdown>
<textarea data-template>
<div class="container-fluid">
  <div class="row">
    <div class="col title">
      <h1><code>$> whoami</code></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h2>Eric **Magalhães**</h2>
      <div class="muted small">
      <p>DevOps Evangelist @ JobScore Inc</p>
      <p><i class="fas fa-map-marker-alt"></i> Joinville - SC - Brazil</p>
      </div>
      <br>
      <div class="medium">
      <p>College degree in IT Management</p>
      <p>SysAdmin with coding skills</p>
      </div>
      <br>
      <div class="small muted">
      Cloud Specialist, AWS Certified Professional, DevOps Evangelist, Speaker, Beer Lover, Traveller, Photo Enthusiast, Frustrated Musician and Weekend Woodworker.
      </div>
    </div>
    <div class="col-6 text-center">
      <p>**@ericovis**</p>
      <img src="https://emagalha.es/images/me.jpg" alt="" class="rounded-circle profile-pic">
      <div class="certs text-center">
        <img src="https://www.certmetrics.com/amazon/Telerik.Web.UI.WebResource.axd?imgid=37c6919c4fd5485c9a22e36c15f576c8&type=rbi" alt="">
        <img src="https://www.certmetrics.com/amazon/Telerik.Web.UI.WebResource.axd?imgid=817e59f60f9141cd89c79da1f750fbd4&type=rbi" alt="">
        <img src="https://www.certmetrics.com/amazon/Telerik.Web.UI.WebResource.axd?imgid=e1c7445f84c44b0eb236d41cd6959bd2&type=rbi" alt="">
        <img src="https://www.certmetrics.com/amazon/Telerik.Web.UI.WebResource.axd?imgid=81d11ee9acca4fcfa121fb0e79f62346&type=rbi" alt="">
        <img src="https://www.certmetrics.com/amazon/Telerik.Web.UI.WebResource.axd?imgid=664a41e8a20c438896280e3e2031f51e&type=rbi" alt="">
        <img src="https://www.certmetrics.com/amazon/Telerik.Web.UI.WebResource.axd?imgid=ffb892c54afa49f29269669fb1958807&type=rbi" alt="">
        <img src="https://www.certmetrics.com/amazon/Telerik.Web.UI.WebResource.axd?imgid=48372ca8e43c486e996035e7eba33fec&type=rbi" alt="">
      </div>
    </div>
  </div>
  </div>
</div>
</textarea>
</section>
